* {
  box-sizing: border-box;
}

header {
  background-color: #2c3e50;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family:Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif, 'Segoe UI', Tahoma, Verdana, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-form {
  margin-left: 20px;
}

.search-input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  margin-top: 6px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  background-color: #2980b9;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 78px;
}

.search-button:hover {
  background-color: #1a5276;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #ecf0f1;
}

/*Media query for smaller screen, as long as the max width is 730px and not above, the code in the curly bracket should apply*/
@media (max-width: 730px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .search-form {
    margin: 20px;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu li {
    margin: 10px;
  }
}

/*style article*/

.now {
  border: #2c3e50 solid 5px;
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  width: 49%;
  height: 50%;
}

.next {
  border: #2c3e50 solid 5px;
  margin-top: 5px;
  padding: 10px;
  width: 49%;
  height: 50%;
  float: right;
}



